In [52]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno

In [53]:
import os
import kagglehub
import shutil

# Ruta correcta hacia la carpeta data/raw en la raíz del proyecto
raw_data_path = os.path.join("..", "data", "raw")

# Asegura que la carpeta exista
os.makedirs(raw_data_path, exist_ok=True)

# Establece la carpeta de descarga para kagglehub
os.environ["KAGGLEHUB_CACHE"] = raw_data_path

# Descarga el dataset
path = kagglehub.dataset_download("govindaramsriram/energy-consumption-dataset-linear-regression")

# Mueve los archivos .csv directamente a data/raw
for root, dirs, files in os.walk(path):
    for file in files:
        if file.endswith(".csv"):
            source = os.path.join(root, file)
            destination = os.path.join(raw_data_path, file)
            shutil.move(source, destination)
            print(f"Archivo movido a: {destination}")

In [54]:
print(os.listdir(raw_data_path))

['.gitkeep', 'datasets', 'test_energy_data.csv', 'train_energy_data.csv']

In [55]:
df = pd.read_csv("../data/raw/train_energy_data.csv")

# Verificamos que se cargó correctamente
df.head(10)

,Building Type,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Day of Week,Energy Consumption
0,Residential,7063,76,10,29.84,Weekday,2713.95
1,Commercial,44372,66,45,16.72,Weekday,5744.99
2,Industrial,19255,37,17,14.30,Weekend,4101.24
3,Residential,13265,14,41,32.82,Weekday,3009.14
4,Commercial,13375,26,18,11.92,Weekday,3279.17
5,Commercial,37377,26,32,16.24,Weekend,4687.67
6,Industrial,38638,92,14,21.01,Weekend,5526.83
7,Residential,34950,60,18,28.24,Weekday,4116.32
8,Industrial,29741,99,44,13.08,Weekday,5841.65
9,Residential,17467,42,36,28.84,Weekday,3419.13

In [56]:
df.shape

(1000, 7)

In [57]:
df.dtypes

Building Type           object
Square Footage           int64
Number of Occupants      int64
Appliances Used          int64
Average Temperature    float64
Day of Week             object
Energy Consumption     float64
dtype: object