In [27]:
# Importar librerias
!pip install -q kagglehub

import kagglehub
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:
import pandas as pd

# Define la ruta del archivo limpio
clean_data_path = "../data/processed/energy_data_processed.csv"

# Carga el archivo en un nuevo DataFrame
df_clean = pd.read_csv(clean_data_path)

# Muestra las primeras filas para verificar que se cargó correctamente
print("DataFrame limpio cargado.")
df_clean.head()

DataFrame limpio cargado.

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Energy Consumption,Building Type_Commercial,Building Type_Industrial,Building Type_Residential,Day of Week_Weekday,Day of Week_Weekend
0,7063,76,10,29.84,2713.95,False,False,True,True,False
1,44372,66,45,16.72,5744.99,True,False,False,True,False
2,19255,37,17,14.30,4101.24,False,True,False,False,True
3,13265,14,41,32.82,3009.14,False,False,True,True,False
4,13375,26,18,11.92,3279.17,True,False,False,True,False

In [29]:
# Muestra todas las columnas y más filas (sin imprimir todo el DataFrame)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100) # Puedes ajustar este número
df_clean

,Square Footage,Number of Occupants,Appliances Used,Average Temperature,Energy Consumption,Building Type_Commercial,Building Type_Industrial,Building Type_Residential,Day of Week_Weekday,Day of Week_Weekend
0,7063,76,10,29.84,2713.95,False,False,True,True,False
1,44372,66,45,16.72,5744.99,True,False,False,True,False
2,19255,37,17,14.30,4101.24,False,True,False,False,True
3,13265,14,41,32.82,3009.14,False,False,True,True,False
4,13375,26,18,11.92,3279.17,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
995,14419,68,44,23.95,3661.21,False,False,True,False,True
996,12194,7,22,14.67,3546.34,False,True,False,False,True
997,39562,88,20,32.18,5147.21,True,False,False,True,False
998,8348,67,37,16.48,3244.98,False,False,True,False,True
999,15813,57,11,31.40,3423.63,True,False,False,False,True

In [30]:
# Importamos la función necesaria de scikit-learn
from sklearn.model_selection import train_test_split

# 1. Separar la variable objetivo (y)
target = 'Energy Consumption'
y = df_clean[target]

In [31]:
# 2. Separar las características (X)
# Usamos el método .drop() para eliminar la columna objetivo del DataFrame de características.
X = df_clean.drop(columns=[target])

print("Forma de X (Características):", X.shape)
print("Forma de y (Variable objetivo):", y.shape)
print("\n¡Datos preparados para el siguiente paso!")

Forma de X (Características): (1000, 9)
Forma de y (Variable objetivo): (1000,)

¡Datos preparados para el siguiente paso!

In [32]:
# Aquí es donde ocurre la magia. La función train_test_split toma tus datos y los reparte.
# X e y: Son los datos que separaste en el paso anterior. X contiene todas las características (las "pistas") y y la variable objetivo (la "respuesta").
# test_size=0.2: Este parámetro le dice a la función que tome el 20% de tus datos y los reserve para el conjunto de prueba (X_test y y_test). Por lo tanto, el 80% restante se usará para el entrenamiento (X_train y y_train).
# random_state=42: Piensa en esto como una "semilla" de aleatoriedad. Asegura que cada vez que ejecutes este código, la división de los datos sea exactamente la misma. Sin este parámetro, cada ejecución produciría una división diferente, lo que dificultaría la reproducibilidad de tus resultados y la colaboración con tu 
# equipo.

In [33]:

#  TAREA 2: DIVISION EN CONJUNTOS DE ENTRENAMIENTO Y PRUEBA

# Dividimos los datos en conjuntos de entrenamiento y prueba
# Entrenamiento (80%): Los datos que el modelo usará para aprender los patrones.

# Prueba (20%): Los datos que usaremos para evaluar qué tan bien se desempeña el modelo
# con información que nunca ha visto.
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42
)

# Imprimimos las dimensiones de los nuevos conjuntos para verificarlos
print("Dimensiones de X de entrenamiento:", X_train.shape)
print("Dimensiones de X de prueba:", X_test.shape)
print("Dimensiones de y de entrenamiento:", y_train.shape)
print("Dimensiones de y de prueba:", y_test.shape)


# Esto es clave para que los resultados de tu experimento sean reproducibles.

Dimensiones de X de entrenamiento: (800, 9)
Dimensiones de X de prueba: (200, 9)
Dimensiones de y de entrenamiento: (800,)
Dimensiones de y de prueba: (200,)

In [34]:
# TAREA 3: NORMALIZACION DE LAS CARACTERISTICAS:

# Esto garantiza que todas las
# las variables esten a la misma escala, lo que mejora el rendimiento del modelo 
#  y la estabilidad numérico

# Importamos StandardScaler
from sklearn.preprocessing import StandardScaler

# Creamos una estancia de  StandardScaler
scaler = StandardScaler()

#  Ajusta y transforma los datos de entrenamiento
X_train_scaled = scaler.fit_transform(X_train)

# Transformar tambien los datos de prueba.
X_test_scaled =  scaler.transform(X_test)

In [35]:
# TAREA 3 : CREACION Y ENTRENAMIENTO DEL MODELO


# Importamos la clase del modelo de Regresión Lineal
from sklearn.linear_model import LinearRegression

# 1. Crear una instancia del modelo
model = LinearRegression()

In [36]:
# AJUSTAR EL MODELO CON LOS DATOS DE ENTRENAMIENTO ES SENCILLO

# 2. Entrenar el modelo con los datos de entrenamiento
model.fit(X_train, y_train)

print("¡Modelo de Regresión Lineal entrenado con éxito!")

¡Modelo de Regresión Lineal entrenado con éxito!

In [37]:
# TAREA 4: PREDICCION Y EVALUACION

# Importamos las métricas de evaluación
from sklearn.metrics import r2_score, mean_squared_error

# 1. Hacer predicciones sobre el conjunto de prueba
y_pred = model.predict(X_test)

# 2. Calcular las métricas de rendimiento
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print("Métricas de rendimiento del modelo en el conjunto de prueba:")
print(f"Coeficiente de Determinación (R²): {r2:.2f}")
print(f"Error Cuadrático Medio (MSE): {mse:.2f}")

Métricas de rendimiento del modelo en el conjunto de prueba:
Coeficiente de Determinación (R²): 1.00
Error Cuadrático Medio (MSE): 0.00

In [38]:
# TAREA 5:  VERIFICACION DE SOBREAJUSTE

# Importamos las métricas de evaluación
from sklearn.metrics import r2_score, mean_squared_error

# 1. Hacer predicciones sobre el conjunto de prueba
y_pred = model.predict(X_test)

# 2. Calcular las métricas de rendimiento
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print("Métricas de rendimiento del modelo en el conjunto de prueba:")
print(f"Coeficiente de Determinación (R²): {r2:.2f}")
print(f"Error Cuadrático Medio (MSE): {mse:.2f}")

Métricas de rendimiento del modelo en el conjunto de prueba:
Coeficiente de Determinación (R²): 1.00
Error Cuadrático Medio (MSE): 0.00

In [39]:
# Hacemos predicciones sobre el conjunto de entrenamiento
y_train_pred = model.predict(X_train)

# Calculamos las métricas de rendimiento en el conjunto de entrenamiento
r2_train = r2_score(y_train, y_train_pred)
mse_train = mean_squared_error(y_train, y_train_pred)

print("Métricas de rendimiento del modelo en el conjunto de entrenamiento:")
print(f"Coeficiente de Determinación (R²): {r2_train:.2f}")
print(f"Error Cuadrático Medio (MSE): {mse_train:.2f}")

# Comparamos las métricas
print("\nAnálisis de sobreajuste:")
print(f"Diferencia en R²: {abs(r2_train - r2):.2f}")
print(f"Diferencia en MSE: {abs(mse_train - mse):.2f}")

# Conclusión sobre el sobreajuste
if abs(r2_train - r2) < 0.05 and abs(mse_train - mse) < 0.05:
    print("La diferencia entre las métricas es inferior al 5%. No se detecta sobreajuste significativo.")
else:
    print("La diferencia es significativa, el modelo podría estar sobreajustado.")

Métricas de rendimiento del modelo en el conjunto de entrenamiento:
Coeficiente de Determinación (R²): 1.00
Error Cuadrático Medio (MSE): 0.00

Análisis de sobreajuste:
Diferencia en R²: 0.00
Diferencia en MSE: 0.00
La diferencia entre las métricas es inferior al 5%. No se detecta sobreajuste significativo.